@model ProductVM
@{
    ViewBag.Title = "ProductAndAttributeList";
}

<h2>ProductAndAttributeList</h2>
<div class="container">
    <div class="col-xs-6">
        <table class="table table-hover;table jumbotron">
            <thead>
                <tr>
                    <th>Product Name</th>
                </tr>

            </thead>

            <tbody>
                @foreach (Product item in Model.Products)
                {
                    <tr>
                        <td>@Html.ActionLink($"{item.Name}", "ProductAndAttributeList", new { id = item.ID }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

    <div class="col-xs-6">
        <table class="table table-hover;table jumbotron">
            <thead>
                <tr>
                    <th>Attributes</th>
                </tr>

            </thead>

            <tbody>
                @if (Model.ProductAttributes.Count == 0)
                {
                    <tr>
                        <td style="color :red"> Attribute Not Found </td>
                    </tr>
                }
                else
                {
                    foreach (ProductAttribute item in Model.ProductAttributes)
                    {
                        <tr>
                            <td> @item.Attribute.Name</td>
                        </tr>
                    }
                }
            </tbody>

        </table>

    </div>

</div>


